.section__pokemons {
  padding: 3rem 2rem 4rem;
  width: 100%;
  background-color: var(--bg-body);
}

.errorMessage {
  font-size: 3rem;
  line-height: 1;
}

.pokemonList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9.375rem, 12.5rem));
  gap: 4rem;
  place-content: center;
}
