<header class="header">
  <div class="header__content">
    <a routerLink="" aria-label="Go to the beginning">
      <img src="/assets/images/logo.png" alt="Adopt Pokémon" class="logo">
    </a>
    <div class="menu">
      <app-change-theme />
      <nav class="menu__navbar">
        <ng-container *ngIf="(user$ | async) === false; else signOut">
          <a routerLink="/login" class="menu__navbar__btn">Login</a>
          <a routerLink="/signup" class="menu__navbar__btn">Sign Up</a>
        </ng-container>
        <ng-template #signOut>
          <button (click)="logout()" class="menu__navbar__btn">Log out</button>
        </ng-template>
      </nav>
      <a routerLink="/pokemons" aria-label="View adoption list" class="amountPokemons">
        <div class="amountPokemons__containerImg">
          <img class="amountPokemons__img" src="/assets/images/amountPokemon.png" alt="Number of pokemons to adopt">
        </div>
        <span class="amountPokemons__amount">{{quantity$ | async}}</span>
      </a>
    </div>
  </div>
</header>