:host ::ng-deep app-pokemon {
  min-height: inherit;
}

.mainContent {
  margin: 0 auto;
  max-width: var(--content-width);
  width: 100%;
  min-height: calc(100vh - var(--size-logo) - 2 * var(--page-padding-y));
}
