:root {
  --content-width: 87.5rem;
  --size-logo: 2rem;
  --page-padding-x: 2rem;
  --page-padding-y: 0.4rem;
  --bg-header: #0b92b2;
  --bg-body: #2a2426;
  --color: #dedede;
  --bg-card-pokemon: #111717;
  --bg-card-pokemon-name: #af383a;
  --border-card-pokemon-name: #b89072;
  --radius-6: 0.375rem;
  --radius-8: 0.5rem;
  --radius-10: 0.625rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg-body);
  line-height: 1.5;
  color: var(--color);
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
figure,
svg {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  padding-left: 0;
}

#root {
  isolation: isolate;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-header: #a82a2d;
    --bg-body: #fcfbff;
    --color: #232323;
    --bg-card-pokemon: #d5acca;
    --bg-card-pokemon-name: #f6ddc9;
    --border-card-pokemon-name: #74a2c6;
  }
}
