:root {
  --content-width: 87.5rem;
  --bg-header: #0b92b2;
  --bg-body: #2a2426;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg-body);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  padding-left: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  isolation: isolate;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-header: #a82a2d;
    --bg-body: #fcfbff;
  }
}
