.serchPokemon {
  padding: 0.4em 0.8em;
  background-color: transparent;
  border-radius: var(--radius-6);
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--color);
  border: 2px solid var(--bg-header);
  transition-property: background-color, color, font-size, line-height;
  transition-timing-function: linear;
  transition-duration: 99999s;

  &::placeholder {
    color: var(--color);
    opacity: 0.8;
  }

  &:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }

  &:autofill {
    background-color: transparent;
    color: inherit;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
