<ng-container *ngIf="links.next || links.previous">
  <aside class="paginationPanel">
    <button class="paginationPanel__button" (click)="previousList()" [disabled]="!links.previous"
      [attr.aria-label]="ariaPrevButton" aria-describedby="error-message">Previous</button>
    <form [formGroup]="pageOfPokemonsListForm" (ngSubmit)="onSubmit($event)" class="paginationPanel__currentPage">
      <input class="paginationPanel__currentPage__input" type="number" formControlName="currentPage"
        [value]="currentPage + 1" min="1" [max]="links.totalPages" aria-label="Current page of the Pokémon list."
        required>
    </form>
    <button class="paginationPanel__button" (click)="nextList()" [disabled]="!links.next"
      [attr.aria-label]="ariaNextButton" aria-describedby="error-message">Next</button>
    <div class="messages">
      <p *ngIf="errorNumberPage" class="messages__errorNumberPage">
        {{errorNumberPageMesage}}
      </p>
      <p *ngIf="!ariaPrevButton || !ariaNextButton" id="error-message" class="messages__messageButtonDisabled">
        {{ariaPrevButton || ariaNextButton}}
      </p>
    </div>
  </aside>
</ng-container>