<main class="mainContainer">
  <section class="wrapperForm">
    <a [routerLink]="['../']" class="">
      <span></span>
    </a>
    <form [formGroup]="userForm" class="form">
      <label for="username" class="form__label">Add your email</label>
      <input formControlName="email" type="text" name="email" class="form__input" required>
      <label for="password" class="form__label">Choose a password</label>
      <input formControlName="password" type="password" name="password" [minLength]="minlengthPassword"
        class="form__input" required>
      <button class="form__button" type="submit">Continue</button>
      <aside *ngIf="false">
        <p>You must complete all fields.</p>
        <p>The password must be at least {{minlengthPassword}} characters.</p>
        <p>The email address is not valid.</p>
      </aside>
    </form>
  </section>
</main>
